.project-gif-landscape {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  margin-bottom: 30px;
  max-width: 50%;

  h3 {
    align-self: flex-start;
  }

  img, video {
    width: 500px;
    aspect-ratio: 16/9;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.468);
    margin-bottom: 20px;
  }

  p {
    max-width: 600px;
  }

  
  a {
    transition: .2s ease-in-out;
    align-self: flex-start;
  }
}

.otherProjects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  h2 {
    align-self: flex-start;
    margin-bottom: 8px;
  }

  .thumbnail-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
  
    .thumbnail {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      img {
        height: 220px;
      }
      
      a {
        transition: .2s ease-in-out;
      }
    }
  }
}


.horizontalLine {
  color: black;
  background-color: black;
  height: 1px;
  border-color: black;
  width: 70%;
}