@import '../App.scss';
header {
  top: 0;
  left: 0;
  width: 100vw;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  // background-image: url(../../images/pacificCity.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed !important;
  text-align: center;
  z-index: -1;

  img {
    width: 100px;
    height: 100px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #text{
    color: white;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
    margin: auto;
    font-size: 72px;
    }

    p {
      align-self: flex-end;
      margin: 0;
    }
  }
}

.loading {
  background-size: auto;
  h1 {
    visibility: hidden;
  }
  p{
    visibility: hidden;
  }
  img {
    visibility: hidden;
  }
}

nav {
  margin-top: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0px;
  position: sticky;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.468);
  z-index: 20;
  p {
    margin: auto;
    text-align: center;
    width: 25%;
    font-size: larger;
    height: 30px;
    background-color: white;
    border: none;
    color: #33658A;
  }
  p:hover {
    opacity: .5;
  }
}

#aboutMe {
  padding: 40px 0 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 40px;
  }
}

#projects {
  padding: 40px 0 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tech {
  padding: 40px 0 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#connect {
  padding: 40px 0 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
  @keyframes bounce-2 {
    0%   { transform: translateY(0); opacity: 0; }
    50%  { transform: translateY(-50px); opacity: 1; }
    100% { transform: translateY(0); opacity: 0; }
}