#circle-container {
  border-radius: 50%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.rotated-line {
  width: 200%;
  height: 20%;
  margin: 4px;
}